Repository s-weigand/flake8-nb: changes, and which pre-commit hooks are due for each by the changed paths.
All: rstcheck, tests

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: python
  additional_dependencies:
  - rstcheck
  - sphinx

tests:
  name: run tests
  entry: pytest -v tests
  language: system
  stages:
  - push

Fixed all problems with pre-commit run --all
  .bettercodehub.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/dependabot.yml
  .gitignore
  CODE_OF_CONDUCT.md
  CONTRIBUTING.rst
  docs/_templates/autosummary/module.rst
  docs/conf.py
  docs/usage.rst
  flake8_nb/__init__.py
  flake8_nb/__main__.py
  flake8_nb/flake8_integration/__init__.py
  flake8_nb/flake8_integration/cli.py
  flake8_nb/flake8_integration/formatter.py
  flake8_nb/parsers/__init__.py
  flake8_nb/parsers/cell_parsers.py
  flake8_nb/parsers/notebook_parsers.py
  readthedocs.yml
  setup.cfg
  setup.py
  tests/__init__.py
  tests/conftest.py
  tests/data/notebooks/not_a_notebook.ipynb
  tests/flake8_integration/__init__.py
  tests/flake8_integration/conftest.py
  tests/flake8_integration/test_cli.py
  tests/flake8_integration/test_formatter.py
  tests/parsers/__init__.py
  tests/parsers/test_cell_parsers.py
  tests/parsers/test_notebook_parsers.py
  tests/test__main__.py
  tox.ini
Due: rstcheck, tests

Exchanged flake8 CI tests with pre-commit
  .github/workflows/test.yml
Due: none

Updated contributing guide to use pre-commit hooks
  CONTRIBUTING.rst
Due: rstcheck

Added jupyter to the files associated with flake8-nb pre-commit hook
  .pre-commit-hooks.yaml
Due: none

replaced flake8 test with pre-commit in tox.ini
  tox.ini
Due: none

Reworked autosummary templates to use new recursive option
  docs/_templates/autosummary/module.rst
  docs/api_docs.rst
Due: rstcheck

Extended sphinx_rtd_theme navigation_depth to be infinite
  docs/conf.py
Due: tests

Removed none existing copy-btn-overwrite.css
  docs/conf.py
Due: tests

Added version string substitution in docs
  .pre-commit-config.yaml
  docs/conf.py
  docs/usage.rst
  requirements_dev.txt
  setup.cfg
Due: rstcheck, tests

Updated pre-commit and isort config
  .pre-commit-config.yaml
  docs/conf.py
  flake8_nb/__main__.py
  flake8_nb/flake8_integration/cli.py
  flake8_nb/flake8_integration/formatter.py
  flake8_nb/parsers/cell_parsers.py
  flake8_nb/parsers/notebook_parsers.py
  pyproject.toml
  setup.py
  tests/conftest.py
  tests/flake8_integration/conftest.py
  tests/flake8_integration/test_cli.py
  tests/flake8_integration/test_formatter.py
  tests/parsers/test_cell_parsers.py
  tests/parsers/test_notebook_parsers.py
  tests/test__main__.py
Due: tests

Removed '. -e' from requirements_dev.txt so packaging will be tested
  requirements_dev.txt
Due: none

Removed tests on push and activated interrogate badge creation on push Made 100% doc coverage (interrogate) a requirement
  .pre-commit-config.yaml
  docs/_static/interrogate_badge.svg
  pyproject.toml
Due: none

Added interrogate badge
  README.md
Due: none

Implemented the export of IpynbFormatter in a way sphinx is happy
  flake8_nb/__init__.py
Due: tests

Fixed workflow doc tests due to flake8-nb not being installed
  .github/workflows/test.yml
Due: none

Update docs tooling (#57)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  README.md
  docs/_static/interrogate_badge.svg
  docs/_templates/autosummary/module.rst
  docs/api_docs.rst
  docs/conf.py
  docs/usage.rst
  flake8_nb/__init__.py
  flake8_nb/__main__.py
  flake8_nb/flake8_integration/cli.py
  flake8_nb/flake8_integration/formatter.py
  flake8_nb/parsers/cell_parsers.py
  flake8_nb/parsers/notebook_parsers.py
  pyproject.toml
  requirements_dev.txt
  setup.cfg
  setup.py
  tests/conftest.py
  tests/flake8_integration/conftest.py
  tests/flake8_integration/test_cli.py
  tests/flake8_integration/test_formatter.py
  tests/parsers/test_cell_parsers.py
  tests/parsers/test_notebook_parsers.py
  tests/test__main__.py
Due: rstcheck, tests

Fixed broken test due to package not being installed
  .github/workflows/test-nightly-schedule.yml
Due: none

Fixed addition backtick in docstring
  flake8_nb/flake8_integration/cli.py
Due: tests

Fixed code-smell
  flake8_nb/flake8_integration/cli.py
Due: tests

Renamed compat methods and swaped overwrite
  flake8_nb/flake8_integration/cli.py
Due: tests

Added dependabot setting to update github actions
  .github/dependabot.yml
Due: none

Added pre-commit badge
  README.md
Due: none

Updated action version manually
  .github/workflows/test-nightly-schedule.yml
  .github/workflows/test.yml
Due: none

Updated pre-commit hook versions
  .pre-commit-config.yaml
Due: none

Updated history for 0.2.2 release
  HISTORY.md
Due: none

Bump version: 0.2.1 → 0.2.2
  flake8_nb/__init__.py
  setup.cfg
  setup.py
Due: tests

Removed python 3.6 contrains
  .github/workflows/test.yml
  constraints-py36.txt
  tox.ini
Due: none

Added environment marker for python > 3.7
  requirements_dev.txt
Due: none

Move python 3.6 contrains to requirements_dev.txt (#62)
  .github/workflows/test.yml
  constraints-py36.txt
  requirements_dev.txt
  tox.ini
Due: none

Added pyupgrade to pre-commit config
  .pre-commit-config.yaml
  flake8_nb/parsers/notebook_parsers.py
  tests/test__main__.py
Due: tests

Add pyupgrade to pre-commit config (#67)
  .pre-commit-config.yaml
  flake8_nb/parsers/notebook_parsers.py
  tests/test__main__.py
Due: tests

Added workflow to update pre-commit config
  .github/workflows/update-precommit-config.yml
Due: none

Added workflow to update pre-commit config (#68)
  .github/workflows/update-precommit-config.yml
Due: none

MAINT Update pre-commit config
  .pre-commit-config.yaml
Due: none

⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Due: none

⬆️ UPGRADE: Autoupdate pre-commit config (#71)
  .pre-commit-config.yaml
Due: none

Add .deepsource.toml
  .deepsource.toml
Due: none

Added instruction to set ACTION_TRIGGER_TOKEN secret
  .github/workflows/update-precommit-config.yml
Due: none

Added cache for pre-commit
  .github/workflows/update-precommit-config.yml
Due: none

Path conditions:
  rstcheck: any of: .rst
  tests: any of: \.py$
